main section{
    min-height: 100vh; 
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
    margin-bottom: 25px;
}

.btn{
    display: inline-block;
    margin-top: 1.5rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--AzulFuerte);
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--AzulMedio);
    background-size: cover;
    background-position: center;
}

/* Modificar las cractersticas de la imagen*/
.banner .image img{
    padding-top: 15%;
    width: 40vw;
    animation: float 3s linear infinite;

}

/* se mueva la imagen*/
@keyframes float {
    0%, 100%{
        transform:translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

 /* mofificar el titulo dentro de inicio*/
 .banner .contenedor h3{
     text-align: center;
    font-size: 5.5rem;
    color: blue;
    text-transform: uppercase;

}

.banner .contenedor h3 span{
    color: var(--AzulFuerte);
    text-transform: uppercase;

}

.banner .contenedor p{
    text-align:justify;
    font-size: 2.5rem;
    color: blue;
    padding: 1rem 0;
}