@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url(header.css);
@import url(banner.css);
@import url(informacion.css);
@import url(seleccion.css);
@import url(horario.css);

/* Modificar estilos general*/
*{
    font-family: 'Macondo', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

html{
    font-size: 62.4%;
    /*overflow: hidden;*/ /* pone estatico sin barra de navegacion*/
}

.contenedor{
    width: 98%;
    margin: auto;
    height: 20px;
}

/* Paleta de colores*/
:root{
    --AzulFuerte: #0069c0;
    --AzulMedio: #2196f3;
    --Azulbajo: #0979b0;
    --degradado:linear-gradient(90deg, var(--limon),var(-verde));
    --Azulbajo_bajo:#9acef8;
}

body{
    background-color: #0069c0;
    margin: 0;
    padding: 0;
}
h3{
    color: white;
}
/*GRID PARA MOSTRAR LAS COMPUTADORAS*/
.contenedorComputadoras{
    padding-top: 8%;
    display: grid;
    position: center;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    font-size: 20px;
    text-align-last: center;
    
}
button{
    height: 100px;
    text-align: center;
    width: 200px;
}
/*PANTALLA*/
.pantalla{
    padding-left: 50%;
    grid-column: 3;
    grid-row: 1;
    align-items: center;
}
.separar{
    height: 100px;
    background-color: white;
    text-align: center;
    padding-top: 10%;
}
.separar :hover{
    color: white;
}
.pcDocente{
    grid-column: 6;
    grid-row: 1;
    padding-top: 20%;
}
/*Primera fila*/
.pc1{
    grid-column: 1;
    grid-row: 2;
}
.pc2{
    grid-column: 2;
    grid-row: 2;
}
.espacio1{
    grid-column: span(2);
    grid-row: 2;
}
.pc3{

    grid-column: 5;
    grid-row: 2;
}
.pc4{

    grid-column: 6;
    grid-row: 2;
}
/*Segunda fila*/
.pc5{
    grid-column: 1;
    grid-row: 3;
}
.pc6{
    grid-column: 2;
    grid-row: 3;
}
.espacio2{
    grid-column: span(2);
    grid-row: 3;
}
.pc7{

    grid-column: 5;
    grid-row: 3;
}
.pc8{

    grid-column: 6;
    grid-row: 3;
}
/*Tercera fila*/
.pc9{
    
    grid-column: 1;
    grid-row: 4;
}
.pc10{
    grid-column: 2;
    grid-row: 4;
}
.espacio3{
    grid-column: span(2);
    grid-row: 4;
}
.pc11{

    grid-column: 5;
    grid-row: 4;
}
.pc12{

    grid-column: 6;
    grid-row: 4;
}
/*Cuarta fila*/
.pc13{
    grid-column: 1;
    grid-row: 5;
}
.pc14{
    grid-column: 2;
    grid-row: 5;
}
.espacio4{
    grid-column: span(2);
    grid-row: 5;
}
.pc15{

    grid-column: 5;
    grid-row: 5;
}
.pc16{

    grid-column: 6;
    grid-row: 5;
}
/*Quinta fila*/
.pc17{
    grid-column: 1;
    grid-row: 6;
}
.pc18{
    grid-column: 2;
    grid-row: 6;
}
.espacio5{
    grid-column: span(2);
    grid-row: 6;
}
.pc19{

    grid-column: 5;
    grid-row: 6;
}
.pc20{

    grid-column: 6;
    grid-row: 6;
}
/*Seis fila*/
.pc21{
    grid-column: 1;
    grid-row: 7;
}
.pc22{
    grid-column: 2;
    grid-row: 7;
}
.espacio6{
    grid-column: span(2);
    grid-row: 7;
}
.pc23{

    grid-column: 5;
    grid-row: 7;
}
.pc24{

    grid-column: 6;
    grid-row: 7;
}