main section{
    min-height: 100vh; 
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
    margin-bottom: 25px;
}

 .horario .contenedor h1{
    text-align: center;
   font-size: 5.5rem;
   color: blue;
   text-transform: uppercase;

}

#horario{
    color: black;
    padding-top: 75px;
}
.contenedor{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    padding: 25px;
    margin: auto;
    
    }
.container-referencia-grid
    {
    display: grid;
    position: center;
    background: var(--AzulMedio);
    grid-template-columns: 120px 175px 175px 175px 175px 175px ;
    grid-gap: 10px;
    grid-template-rows: auto;
    width: 101%;
    
    }
    .cabecera-grid{
    color: black;
    font-weight: bold;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .datos-grid{
    color:white;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    }