*{
    box-sizing: border-box;
  }
  /* Paleta de colores*/
:root{
  --AzulFuerte: #0069c0;
  --AzulMedio: #2196f3;
  --Azulbajo: #0979b0;
  --degradado:linear-gradient(90deg, var(--limon),var(-verde));
  --Azulbajo_bajo:#9acef8;
}
  section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px 0;/*POS*/
    background-color: #9acef8;
  }
   
  section h2{
    width: 100%;
    padding: 20px;
    font-size: 30px;/*tamaño*/
    color: blue;
    text-transform: uppercase;    
    font-family: 'Macondo', cursive;

  }
  .card{
    width: 33.333333%;
    padding: 10px;
  }
  /*Estilo C*/
  .estilo-c{
    font-family: sans-serif;
    width: 30%;
   }
  .estilo-c .img-container{
    overflow: hidden;
    height: 250px;
    position: relative;
    border-radius: 15px;
  }
  .estilo-c .img-container img{
    width: 105%;
    position: center;
    top: -60%;
    transition: all 0.5s;
  }
  .estilo-c:hover .img-container img{
    transform: scale(1.2);
  }
  .estilo-c .img-container .promo{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: yellow;
    padding: 15px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  .estilo-c .info-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .estilo-c .info-container h3{
    margin: 0;
    font-size: 20px;

  }
  .estilo-c .info-container h3,
  .estilo-c .info-container span{
    padding-right: 20px;
    width: 100%;
    font-size: 20px;

  }
  .estilo-c .info-container span{
    color:blue;

  }
  .estilo-c .info-container strong{
    padding: 5px 15px;
    font-size: 2.5rem;
    color: #0069c0;
    padding: 1rem 0;
    width: 100%;
    font-size: 15px;
  }


  .estilo-c .add-cart{
    display: inline-block;
    margin-top: 2px;
    text-decoration: none;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--AzulFuerte);
    font-size: 1.7rem;
    color: white;
    border-radius: 25px;
    transition: all .3s linear;
}

.add-cart:hover{
    transform: scale(1.1);
}
  .estilo-c .add-cart:hover{
    color: black;
    background-color: transparent;
    border: 1px solid black;
  }
  .color{
    background-color: #2196f3;

  }

   